{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["component", [
      { "libraryName": "hanzi-mobile-package" },
      { "libraryName": "mint-ui", "style": true }
    ]]
  ]
}
